@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply rounded-full font-bold uppercase py-3 px-8
}

.btn-sm {
    @apply px-8 font-medium py-0
}

.btn-primary {
    @apply bg-black text-white border-0
}

.btn-secondary, .btn-secondary.btn-outline {
    @apply hover:bg-secondary
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}